<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="Treetop1500 Security Check Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./DependencyInjection</directory>
                <directory>./Controller</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
