{% extends '::base.html.twig' %}

{% block body %}
    <section class="body-section">
        <div class="row">
            <div class="columns">

            </div>
        </div>
    </section>
{% endblock %}

